<div class="container">
	<h3><%= t('your_coupon') %></h3>


	<% @coupons.each do |a| %>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="text-center">
					<img src="<%=a['image_url__c']%>" style="width:100%;max-width:400px;"/>
				</div>
			</div>
		</div>



	<% end %>


</div>
